.mainContainer
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    padding: 0 15px
    margin-bottom: 30px

    .textContainer
        margin-top: 50px
        padding: 0 16px
        font-size: 30px

    .linksContainer
        display: flex
        justify-content: space-around
        border-top: 1px solid #77838f5d
        width: 70%
        padding: 10px 16px
        margin-right: 20px
        flex-wrap: wrap

        .linkBody
            position:relative
            margin: 40px 20px
            width: 100px
            img
                position: absolute
                transition: opacity 0.4s ease-in-out
                width: 100px

            .imgTop
                opacity: 1
                &:hover
                    opacity: 0

            .imgBot
                opacity: 0
                &:hover 
                    opacity: 1